.item_modal {
  padding: 0;
  margin: 0;
}

.item__delete-button {
  width: 101px;
  height: 24px;
  position: absolute;
  right: 0px;
  border: none;
  background: none;
  color: red;
}
.image_preview {
  max-width: 498px;
  max-height: 610px;
  width: fit-content;
}
.modal__description {
  position: relative;
}

.item__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.modal__item-content {
  display: flex;
  background: white;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: none;
  padding: 0;
  padding-bottom: 32px;
  position: relative;
}
