.item__delete-button {
  width: 101px;
  height: 24px;
  position: absolute;
  bottom: 54px;
  right: 32px;
  border: none;
  background: none;
  color: red;
}
.modal__delete-button:hover {
  cursor: pointer;
}
.modal__description {
  position: relative;
}

.item__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
