.redirect__submit-button {
  background: none;
  border: none;
  color: grey;
  text-align: center;
  border: 0;
  margin-top: 15px;
  box-sizing: border-box;
  width: 124px;
  height: 36px;
  gap: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.redirect__submit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
